{:os {:data-dir "/var/local/songpark/"}

 :logger {:sentry-settings {:log? false
                            :dsn ""}
          :level :debug}

 :network {:config-dir "/etc/network/interfaces.d/"
           :check-network-status-cmd "ip -o l show eth1 | cut -d ' ' -f 9 | tr -d '\n'"
           :sleep-timer 5000
           :iface "eth1"
           :hwaddr "02:01:02:03:04:11" ;; zb5 (.15)
           ;; no router exists for direct connection between laptop and tp on 192.168.0.0/24 subnet
           :default-network {:ip "192.168.168.168" ;; not a good idea to use .0.168, way too common.
                             :netmask "255.255.255.0"}
           :webserver {:ip "0.0.0.0"
                       :port 8080
                       :thread 1}
           :fake-reset? true}
 :defaults {:playout-delay 20 ;; in ms
            }
 :mac "00:00:00:00:00:01"

 :mqtt {:config {:scheme "tcp"
                 :host "127.0.0.1"
                 :port 1883
                 :connect-options {:auto-reconnect true
                                   :keep-alive-interval 60
                                   :max-inflight 100
                                   ;; :username "tpx"
                                   ;;:password "SecretPass"
                                   }}}
 :ipc {:platform "http://127.0.0.1:3000"
       :teleporter {:nickname "zedboard-01"}}}
